nav.session-nav{
  display:flex;
  justify-content: space-around;
  align-items: left;
  min-height: 6vh;
  background: rgb(85, 32, 50);
  color: rgb(0, 0, 0)
}

nav.header-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(230, 92, 138);
  color: rgb(0, 0, 0)
}

nav.tab-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background: rgb(85, 32, 50);
  color: rgb(0, 0, 0)
}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}


.app{
  text-align: center;
  vertical-align: middle;
}

.user{
  vertical-align: middle;
  align-items: center;
  height: 50%;
  display: flex;
  justify-content: center;
}

#log-in-or-sign-up{
  margin-right: 10px;
  /* width: 100%; */
  background: #e94a22;
  border-bottom: #c0421b 3px solid;
  border-left: #c0421b 1px solid;
  border-right: #c0421b 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  float: center;
  font-size: 10px;
  font-weight: 800;
}


