body {
  margin: 0;
  font-family: 'Relica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Relica';
  src: url(./fonts/TTF/RelicaRounded-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

